<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <head th:fragment="head">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta http-equiv="Content-Language" content="en" />
        <meta name="msapplication-TileColor" content="#2d89ef">
        <meta name="theme-color" content="#4188c9">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
        <!-- Generated: 2018-04-16 09:29:05 +0200 -->
        <title>Empty page - tabler.github.io - a responsive, flat and full featured admin template</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
<!--        <script th:src="@{/assets/js/core.js}"></script>-->
<!--        <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->

<!--        <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.js}" ></script>-->
<!--        <script th:src="@{/webjars/bootstrap/4.4.1-1/js/bootstrap.bundle.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>-->
<!--        <script th:src="@{/webjars/selectize.js/0.12.5/js/selectize.min.js}" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/selectize.min.js" ></script>-->
<!--        <script th:src="@{/webjars/requirejs/2.3.5/require.js}" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.5/require.js" ></script>-->
        <script th:src="@{/assets/js/require.min.js}"></script>

        <script>
            requirejs.config({
                baseUrl: '/'
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/selectize@0.12.6/dist/js/standalone/selectize.min.js"></script>

        <!-- Dashboard Core -->
        <link th:href="@{/assets/css/dashboard.css}"  rel="stylesheet" />
        <script th:src="@{/assets/js/dashboard.js}"></script>

        <!-- Input Mask Plugin -->
        <script th:src="@{/assets/plugins/input-mask/plugin.js}"></script>
<!--        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>-->
<!--        <script th:src="@{/assets/js/vendors/bootstrap.bundle.min}"></script>-->
    </head>
</head>
<body>

</body>
</html>